.buttton-nav {
  background-color: rgb(25, 46, 63);
  border: none;
  color: white;
  border-radius: 15px;
  height: 50px;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  vertical-align: middle;
  padding-top: 10px;
  text-align: center;
}
